.header-section {
  display: block;
  margin-top: 30px;
}
.header {
  position: static;
  max-width: 1024px;
}
.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 10;
  display: block;
  width: 1024px;
  height: 120px; /* Added this height */
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: hsla(0, 0%, 100%, 1);
  object-fit: fill;
}
.container {
  position: relative;
  display: block;
  max-width: 1024px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  justify-content: space-between;
  align-items: center;
  border-top-style: none;
  border-top-width: 0px;
  border-top-color: hsla(0, 0%, 0%, 1);
  border-right-style: none;
  border-right-width: 0px;
  border-right-color: hsla(0, 0%, 0%, 1);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-bottom-color: hsla(0, 0%, 0%, 1);
  border-left-style: none;
  border-left-width: 0px;
  border-left-color: hsla(0, 0%, 0%, 1);
}
.brand {
  position: absolute;
  margin-top: 5px;
  margin-left: 10px;
  padding-top: 0px;
  padding-left: 0px;
}

.brand:tiny {
  display: flex;
  padding-left: 0px;
  justify-content: center;
  align-items: center;
}
.brand-img {
  display: block;
  width: auto;
  height: auto;
  margin-top: 5px;
}

.brand-img:tiny {
  margin-top: 10px;
}

.nav-open {
  display: flex;
}

.nav-close {
  display: none;
}

.nav-menu {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  margin-top: 0px;
  padding-top: 132px;
  background-color: hsla(201.08108108108107, 100%, 85.49%, 0.75);
  backdrop-filter: blur(10px);
  text-align: left;
  background-clip: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-link {
  text-align: right;
  padding: 1rem 0;
  width: 100%;
  max-width: 1024px;
  cursor: pointer;
}
.menu-button {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: flex;
  margin-top: 40px;
  margin-right: 20px;
  padding: 18px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: hsla(21.355932203389827, 100%, 76.86%, 1);
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: hsla(21.355932203389827, 100%, 76.86%, 1);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: hsla(21.355932203389827, 100%, 76.86%, 1);
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: hsla(21.355932203389827, 100%, 76.86%, 1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: hsla(0, 0%, 100%, 1);
}

.menu-button:open {
  background-color: white;
}

.menu-button:tiny {
  margin-top: 30px;
  margin-right: 20px;
  justify-content: center;
}

.menu-button:small {
  margin-top: 50px;
  margin-right: 20px;
}

.menu-button:medium {
  margin-right: 20px;
}
