@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&family=Inconsolata:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin-left: auto;
  background-color: #3e717e;
  font-size: 16px;
}
/*? NavBar */
