.hero-container {
  max-width: 1024px;
  margin-top: -10px; /*? moved up to hide corners */
  /*todo nav should be transparent, add top padding */
  /*todo and move up into place behind nav */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
}

.hero-wrap {
  margin-top: 150px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 60% 40%; /*? added */
}

/* .hero-wrap:small {
  display: flex;
  flex-direction: column-reverse;
} */

.hero-info-col {
  display: flex;
  justify-content: center;
  align-items: center;
  /*?padding-right: 1rem;  added */
}

.hero-content {
  display: flex;
  width: 450px;
  height: 350px;
  flex-direction: column;
  justify-content: center;
}

.hero-content:small {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.hero-title {
  font-family: IM Fell Double Pica SC;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  text-align: center;

}

.hero-title:tiny {
  margin-top: 0px;
  font-size: 44px;
  line-height: 1;
}

.hero-subTitle {
  font-family: Inconsolata;
  font-weight: 400;
  text-align: center;

}

.hero-subTitle:tiny {
  font-size: 16px;
  line-height: 1;
}

.hero-btns-wrap {
  display: flex;
  margin-top: 24px;
  align-items: center;
  justify-content: space-around;

}

.hero-btns-wrap:small {
  max-width: 75%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  /* margin-top: 10px;
  margin-right: 57px;
  margin-left: 57px; */
  padding-top: 11px;
  padding-right: 25px;
  padding-bottom: 11px;
  padding-left: 25px;
  align-self: center;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: black;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
  font-family: Inconsolata;
  color: hsla(0, 0.00%, 18.00%, 1.00);
  line-height: 18px;
  font-weight: 400;
}

.button:tiny {
  font-size: 14px;
  line-height: 1;
}

.button.nomargin {
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.button-2 {
  padding-top: 8px;
  padding-right: 25px;
  padding-bottom: 8px;
  padding-left: 25px;
  align-self: center;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: black;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #40677d;
  font-family: Inconsolata;
  font-weight: 700;
  color: white;
}

.button-2:small {
  margin-top: 16px;
}

.button-2:tiny {
  font-size: 14px;
}

.hero-img-col {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 400px;
}

.hero-img-col:small {
  display: flex;
  justify-content: center;
  align-items: center;
}